.addTicketForm {
  &__header {
    text-align: center;
    margin-bottom: 20px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__input {
      display: flex;
      flex-direction: column;
      gap: 10px;
      label {
        font-size: 12px;
        font-weight: 700;
        color: #9fa2b4;
      }
      input {
        padding: 10px;
        color: #4b506d;
        border-radius: 8px;
        border: 1px solid #9fa2b4;
      }
    }
    &__select {
      label {
        font-size: 12px;
        display: block;
        margin-bottom: 10px;
        font-weight: 700;
        color: #9fa2b4;
      }
      option {
        border-radius: 8px;
        border: 1px solid #9fa2b4;
      }
      option,
      select {
        color: #4b506d;
      }
    }
  }
}
