.formHeader {
  text-align: center;
  &__logo {
    width: 48px;
    aspect-ratio: 1/1;
    margin-bottom: 12px;
  }
  .appName {
    color: #a4a6b3;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 14px;
    color: #9fa2b4;
    margin-bottom: 24px;
  }
}
