.form {
  background-color: #fff;
  padding: 40px 32px;
  border-radius: 8px;
  width: 380px;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    &__checkbox {
      display: inline-flex;
      align-items: center;
      gap: 12px;
      font-size: 14px;
      font-weight: 400;
      color: #9fa2b4;
    }
  }
}
