.App {
  /* display: grid;
  grid-template-columns: 255px 1fr; */
  background-color: #363740;
  height: 100vh;
  display: grid;
  place-content: center;
}
.right-container {
  padding: 30px 33px 30px 30px;
  background-color: #f6f9fc;
  margin-left: 255px;
}
