.sidebar {
  background-color: #363740;
  height: 100vh;
  position: fixed;
  width: 255px;
}
.sidebar__heading {
  color: #a4a6b3;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 32px;
  font-size: 19px;
  margin-bottom: 63px;
  padding-top: 37px;
}
.sidebar__nav {
  font-size: 16px;
  border-bottom: 1px solid #dfe0eb;
  margin-bottom: 16px;
}
li {
  padding: 20px 24px 20px 32px;
}
li a {
  display: flex;
  align-items: center;
  gap: 24px;
}
.sidebar__additional {
  font-size: 16px;
}
