.profile__modal {
  &__header {
    position: relative;
    background: linear-gradient(
      90deg,
      rgba(251, 253, 148, 1) 0%,
      rgba(44, 182, 200, 1) 60%
    );
    height: 60px;
    &__image {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      right: 50%;
      transform: translateX(-50%);
    }
  }
  &__body {
    text-align: center;
    padding: 25px 0;
  }
}
